/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mar 2022, 8:51:44
    Author     : labtw07
*/

body {
  margin:0;
}

.footer {
  background-image: linear-gradient(to bottom, #99ffcc 0%, #cc99ff 100%);
  position:relative;
  text-align:center;

  
}




.banner{
     background-image: linear-gradient(-90deg,#6ABBF7, #BD7CFA);
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
 
  }