/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 mar 2022, 10:07:02
    Author     : labtw07
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  
  background: #CBC0D3;
  
}
a {
    color: #f0f3f5;
}






table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0px;
  padding: 50px;
  width: 100%;
  table-layout: fixed;
  color: #f0f3f5;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #EAC7CC;
  background-color: #eeb9ea;
  border: 1px solid #ddd;
  padding: .35em;
  background:#fff;
}
table th,
table td {
   border: 1px solid #ddd;
  padding: .625em;
  text-align: center;
  background-color:#EAC7CC;
  color: #000000;
 
}
table th {
   border: 1px solid #ddd;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background:#fff;
  color: #000000;
}




@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    background: #dfabdb;
    color:
#f0f3f5
; 
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    background: #dfabdb;
    color:
#f0f3f5
; 
  }
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;

; 
  }
  table td:last-child {
    border-bottom: 0;

; 
  }
}

table tr:hover {
   background-color: #182c63;
-webkit-box-shadow: 0 6px 6px -6px #182c63;
	   -moz-box-shadow: 0 6px 6px -6px #182c63;
	        box-shadow: 0 6px 6px -6px #182c63;
}

table td:hover {
  background-color:
#CBC0D3
;
  color: #020203;
  font-weight: bold;
  
  box-shadow: #000000 -1px 1px,#000000 -2px 2px, #1a2c52 -3px 3px, #000000 -4px 4px, #1a2c52 -5px 5px, #000000 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}




















/*gg*/
.menuicon {
  text-align: rigth;
  font-size: 0;
}

.menuicon a {
  position: relative;
  display: inline;
  *display: inline;
  zoom: 1;
  width: 300px;  
  height: 300px;
  text-align: rigth;
  color: #ffffff;
  text-shadow: 1px 1px 0 black;
  text-decoration: none;
  background: #9933cc;
  vertical-align: top;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  transition: .3s all;
  
}
.menuicon a .fa {
  position: relative;
  top: 10px;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid white;
  font-size: 40px;
}
.menuicon a .title {
  font-size: 20px;
  line-height: 60px;
}
.menuicon a:hover {
  -webkit-transform: scale(0.80,0.80);
  -moz-transform: scale(0.80,0.80);
  transform: scale(0.80,0.80);
}
.menuicon a:nth-of-type(odd) {
  background: #BF9830;
}
.menuicon a:first-child {
  background: #0099cc;
  width: 100px;
}
.menuicon a:first-child .fa {
  border: 0;
  font-size: 60px;
}
.menuicon a:first-child .title {
  font-size: 30px;
  line-height: 20px;
  font-style: italic;
}